/****************************************************************************/
/*                                                                          */
/* Formatting Specific to the Accommodations Page                           */
/*                                                                          */
/****************************************************************************/

h3 
{
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

p 
{
    text-align: center;
}
