
/* Custom color and font setup -------------------------------------------- */

:root /* Setting color variables */
{
    --limited:   #0E4732;
    --middleton: #CCD1CA;
    --overdose:  #FFFFFF;
}

@font-face /* Cursive script used in header */
{
    font-family: "Cimochi";
    src: url(../fonts/cimochi.ttf) format("truetype");
}

@font-face /* Serif font used throughout */
{
    font-family: "Cormorant Garamond";
    src: url(../fonts/cormorant_garamond_medium.ttf) format("truetype");
}

* { max-height: 100000px; }

   
/* Built-in tag reformatting ------------------------------------------------ */
 
html /* Setup background image */
{
    color: var(--limited);
    font-family: "Cormorant Garamond", Times New Roman, serif;

    background: url(../images/flowers7-40pct.jpg); 
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

footer
{
    background-color: var(--limited);
    display: block;
}

h1, h2, h3, p 
{ 
    font-weight: normal; 
    text-align: center;
    padding: 0px 40px;
}


h1
{
    margin: 0px;
    position: relative;
}

img
{
    width: 100%;
    height: 100%;
}

a
{
    color: var(--limited);
    text-decoration: none;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black
}

span
{
    z-index: 1;
}

hr
{
    border-color: var(--limited);
    size: 2px;
    margin: 0px 40px 5px 40px;
}

button
{
    font-family: inherit;
    border: 0;
    padding: 0;
}


/* Header related classes --------------------------------------------------- */

header
{
    background-color: var(--limited);
    display: block;
}

header .title
{
    color: var(--overdose);
    font-family: "Cimochi" !important;
    display: inline-block;
    position: relative;
}

header .subtitle
{
    color: var(--overdose);
    font-size: 35px;
    margin-left: 350px;
    display: block;
    position: relative;
    top: -100px;
}

header .wedding_logo 
{
    width: 150px;
    height: 150px;
    margin: 20px;
    display: inline-block;
}

header a
{
    box-shadow: none;
}

header nav 
{
    background-color: var(--overdose);
    font-weight: bold;
    text-align: center;
    display: block;
    position: relative;
}

header .nav_item 
{
    text-align: center;
    display: inline-block;
    z-index: 1;
}


/* Article related classes --------------------------------------------------- */

article
{
    background-color: var(--overdose);
    display: block;
}
  
article .boxes
{
    display: inline-block; 
    vertical-align: top;
    
    border-left-style: solid;
    border-left-color: var(--limited);
    border-left-width: 0.5px;
    
    border-right-style: solid;
    border-right-color: var(--limited);
    border-right-width: 0.5px;
}
  
article .boxes p 
{
    margin: 15px 0px;
    padding: 0px 8px !important;
}
 
article .leftmost 
{
    border-left-style: none;
}
    
article .rightmost 
{
    border-right-style: none;
}


/* --------------------------------------------------------------------------- */

@media screen and (orientation: landscape)
{
    /* Built-in tag reformatting -------------------------------------------- */

    html 
    {
        background: url(../images/flowers7-40pct.jpg); 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-repeat: repeat-x;
        background-attachment: fixed;
    }
    
    footer 
    { 
        width: 1200px; 
        height: 40px;
        margin: 10px auto 3.5% auto;
    }

    h1
    {
        font-size: 50px;
        top: 30px;
    }

    h2
    {
        font-size: 26px;
        padding: 0px 10px;
    }

    h3
    {
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    p
    {
        font-size: 20px;
    }


    /* Header related classes ----------------------------------------------- */

    header 
    {
        width: 1200px;
        height: 280px;
        margin: 2.5% auto 10px auto;
    }
   
    header .title 
    {
        font-size: 110px;
        margin-left: 120px;
        margin-right: 100px;
        margin-bottom: 55px;
        top: -35px;
    }

    header nav 
    {
        height: 30px;
        padding: 5px 0px;
        top: -48px;
    }

    header .nav_item 
    {
        font-size: 26px;
        margin: 0px 25px;
    }

    
    /* Article related classes ----------------------------------------------- */
    
    article 
    {
        width: 1200px; 
        margin: 0 auto;
    }
 
    article .boxes
    {
        width: 120px; 
    }
} 

/* --------------------------------------------------------------------------- */

@media screen and (orientation: portrait) 
{
    /* Built-in tag reformatting -------------------------------------------- */

    html 
    {
        background: url(../images/flowers7-40pct.jpg); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    footer 
    { 
        width: 900px; 
        height: 60px;
        margin: 10px auto 3.5% auto;
    }

    h1
    {
        font-size: 75px;
        top: 30px;
    }

    h2
    {
        font-size: 26px;
        padding: 0px 10px;
    }

    h3
    {
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    p
    {
        font-size: 34px !important;
    }

    
    /* Header related classes ----------------------------------------------- */

    header 
    {
        width: 900px;
        height: 370px;
        margin: 2.5% auto 10px auto;
    }
   
    header .title 
    {
        font-size: 100px;
        margin-left: 50px;
        margin-right: 30px;
        margin-bottom: 50px;
        top: -45px;
    }
 
    header nav 
    {
        height: 120px;
        padding: 5px 0px;
        top: -48px;
    }

    header .nav_item 
    {
        font-size: 40px;
        margin: 5px 30px;
    }

    
    /* Article related classes ----------------------------------------------- */
    
    article 
    { 
        width: 900px; 
        margin: 0 auto;
    }
 
    article .boxes
    {
        width: 190px; 
    }
}

/* --------------------------------------------------------------------------- */
