
/****************************************************************************/
/*                                                                          */
/* Custom Color and Font Setup                                              */
/*                                                                          */
/****************************************************************************/

:root /* Setting color variables */
{
    --limited:   #0E4732; /*#164249;*/
    --middleton: #CCD1CA; /*#AEBBBA;*/
    --overdose:  #FFFFFF; /*#EEF0ED;*/
}

@font-face /* Setting custom font */
{
    font-family: "Callient";
    src: url(../fonts/callient.ttf) format("truetype");
}

@font-face /* Setting custom font */
{
    font-family: "Brittany Signature";
    src: url(../fonts/brittany_signature.ttf) format("truetype");
}

@font-face /* Setting custom font */
{
    font-family: "August July";
    src: url(../fonts/august_july.ttf) format("truetype");
}

@font-face /* Setting custom font */
{
    font-family: "Real One Specific Script";
    src: url(../fonts/real_one_specific_script.ttf) format("truetype");
}
    
@font-face /* Setting custom font */
{
    font-family: "Cormorant Garamond";
    src: url(../fonts/cormorant_garamond_medium.ttf) format("truetype");
}
    
@font-face /* Setting custom font */
{
    font-family: "Poor Richard Regular";
    src: url(../fonts/poor_richard_regular.ttf) format("truetype");
}

/****************************************************************************/
/*                                                                          */
/* Built-In Page Layout Reformatting                                        */
/*                                                                          */
/****************************************************************************/

html 
{
    color: var(--limited);
    font-family: "Cormorant Garamond", Times New Roman, serif;

    background: url(../images/flowers7-40pct.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
}


body { }

header
{
    background-color: var(--limited);
    width: 1200px;
    height: 265px;
    margin-top: 2.5% !important;
    margin-bottom: 10px !important;
    margin: 0 auto;
    display: block;

}

header a
{
    box-shadow: none;
}

article
{
    background-color: var(--overdose);
    width: 1120px;
    margin: 0 auto;
    padding: 0px 40px;
    display: block;
}

footer
{
    background-color: var(--limited);
    width: 1200px;
    height: 40px;
    margin-top: 10px !important;
    margin-bottom: 3.5% !important;
    text-align: center;
    margin: 0 auto;
    display: block;

}

/****************************************************************************/
/*                                                                          */
/* Built-In Text-Related Reformatting                                       */
/*                                                                          */
/****************************************************************************/

h1
{
    margin: 0px;
    font-size: 50;
    font-weight: normal;
    text-align: center;
    position: relative;
    top: 30px;
}

h2
{
    font-size: 26;
    font-weight: normal;
    text-align: center;
    padding: 0px 10px;
}

h3
{
    font-size: 32;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 0px;
}

p
{
    font-size: 20;
    font-weight: normal;
    padding: 0px 10px;
}


/****************************************************************************/
/*                                                                          */
/* Built-In Reformatting for Other Tags                                     */
/*                                                                          */
/****************************************************************************/

img /* Reformatting images */
{
    width: 100%;
    height: 100%;
}

a /* Reformatting links */
{
    color: var(--limited);
    text-decoration: none;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black
}

span /* Reformatting spans */
{
    z-index: 1;
}

hr /* Reformatting horizontal rules */
{
    border-color: var(--limited);
    size: 2px;
    margin-bottom: 2px;
}

button /* Reformatting buttons */
{
    font-family: inherit;
    border: 0;
    padding: 0;
}


/****************************************************************************/
/*                                                                          */
/* Header Related Classes                                                   */
/*                                                                          */
/****************************************************************************/

.words /* Class for the div that contains all the words in the header */
{
    display: inline-block;
}

.title /* Class for the title of the header */
{
    color: var(--overdose);
    font-family: "Real One Specific Script" !important;
    font-size: 140;
    margin-left: 110px;
    margin-right: 75px;
    display: inline-block;
    position: relative;
    top: -35px;
}

.subtitle /* Class for the subtitle of the header */ 
{
    color: var(--overdose);
    font-size: 35;
    margin-left: 350px;
    display: block;
    position: relative;
    top: -100px;
}

.logo_header /* Class for butterfly silhouette image */
{
    width: 150px;
    height: 150px;
    margin-top: 22px;
    display: inline-block;
}


nav /* Reformatting navigational stripe element */
{
    background-color: var(--overdose);
    height: 30px;
    padding: 5px 150px;
    display: block;
    position: relative;
    top: -48px;
}

.nav_item /* Class for menu items in the nav menu*/
{
    font-size: 26;
    font-weight: bold;
    text-align: center;
    margin: 0px 25px;

    display: inline-block;
    z-index: 1;
}


/****************************************************************************/
/*                                                                          */
/* Body Related Classes                                                     */
/*                                                                          */
/****************************************************************************/

.horizontally_centered /* Class for centering an element vertically */
{
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.vertically_centered /* Class for centering an element vertically */
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.centered_text /* Reformatting standard text */
{
    margin-top: 5px;	
    padding: 0px 50px;
    text-align: center;
}

.boxes
{
    width: 120px; 
    display: inline-block; 
    vertical-align: top;

    border-left-style: solid;
    border-left-color: var(--limited);
    border-left-width: 0.5px;

    border-right-style: solid;
    border-right-color: var(--limited);
    border-right-width: 0.5px;
}

.boxes p 
{
    margin: 15px 0px;
}

.leftmost 
{
    border-left-style: none;
}

.rightmost 
{
    width: 125px;
    border-right-style: none;
}



/****************************************************************************/
/*                                                                          */
/* Footer Related Classes                                                   */
/*                                                                          */
/****************************************************************************/

.footer_text /* Class for the text in the footer */
{
    color: var(--overdose);
    font-size: 16;
    padding-top: 30px;
}

.footer_text a /* Class to remove underline of footer links */
{
    box-shadow: none;
}

.logo_footer /* Class for logo image */
{
    width: 120px;
    height: 120px;
    margin-top: 15px;
    margin-bottom: 40px;
}


/****************************************************************************/

