.content 
{
    text-align: center;   
}

@media screen and (orientation: landscape)
{
    .content 
    {
        padding: 10px 0px;
        width: 720px;
        display: inline-block; 
        vertical-align: center;
    }

    .time 
    {
        font-size: 36px;
    }

    .big_img 
    {
        height: 425px;
        width:  auto;
        padding: 20px 30px;
        margin-left: 60px;
        display: inline-block; 
        vertical-align: top;
    }
}

@media screen and (orientation: portrait)
{
    .content 
    {
        width: 90%;
        margin: 40px auto;
        display: block;
    }

    .time 
    {
        font-size: 36px;
    }

    .big_img 
    {
        height: auto;
        width:  65%;
        margin: 40px auto;
        margin-bottom: 80px;
        display: block;
    }
}
