.content 
{
    padding: 40px 0px;
    width: 720px;
    display: inline-block; 
    vertical-align: center;
    text-align: center;   
}

.time 
{
    font-size: 36;
}

.big_img 
{
    height: auto;
    width:  310px;
    padding: 30px;
    display: inline-block; 
    vertical-align: top;
}

.smol_img 
{
    height: 200px;
    width:  auto;
    padding: 40px;
    margin-top: 420px;
    margin-left: -250px;

    float: right;
    position: relative;
    z-index: 1;
}

