/****************************************************************************/
/*                                                                          */
/* Built-In Reformatting for Other Tags                                     */
/*                                                                          */
/****************************************************************************/

.lightbox 
{
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}

.lightbox:target /* Unhide the lightbox when it's the target */
{
    display: block;
}

.lightbox span 
{
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


img, .tall, .count-1, .count-3, .stacked
{
    width: auto;
}

img 
{
    margin: 10px;
}

a 
{
    box-shadow: none;
}

.row 
{
    text-align: center;
}

.column 
{
    display: inline-block;
}

.stacked 
{
    display: block;
}

.tall, .stacked 
{
    margin: 20px 10px;
}


@media screen and (orientation: landscape)
{
    img      { height: 450px; }
    .count-1 { height: 665px; }       
    .count-3 { height: 475px; }
    .tall    { height: 695px !important; }
    .stacked { height: 338px !important; }
}

@media screen and (orientation: portrait) 
{
    img      { height: 355px; }
    .count-1 { height: 527px !important; }       
    .count-3 { height: 370px !important; }
    .tall    { height: 550px !important; }
    .stacked { height: 264px !important; }
}
